.largeInputOnDesktop {
    width: 600px; 
  }

.form-container {
  position: relative;
  z-index: 10; 
  transition: margin-top 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .largeInputOnDesktop {
    width: 100%;
  }
}