.largeInputOnDesktop {
    width: 600px; 
  }

.form-container {
  position: relative;
  z-index: 10; 
  transition: margin-top 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .largeInputOnDesktop {
    width: 100%;
  }
}

@media (max-width: 1082px) {
  .form-container {
    width: 100%;
    margin-top: 50vh; 
  }
  .btn-ajuste{
    margin-bottom: 30px;
  }
}