.seta-nav,
.seta-nav-esq {
    color: black;
    font-size: 2.5rem;
    background-color: white;
    border: 2px solid #06a558;
    border-radius: 15px;
    height: 3.375rem;
    width: 3.75rem;
    padding: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.seta-nav:hover,
.seta-nav-esq:hover {
    background-color: #06a558;
    color: white;
    transform: scale(1.05);
}

.barra-nav {
    height: auto;
    width: auto;
    padding: 0.3rem;
    background-color: transparent;
    border: 2px solid #0C0440;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    flex-wrap: wrap;
}


.bloco-nav {
    font-size: 1.5625rem;
    color: black;
    width: 3.75rem;
    height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
    position: relative;
    user-select: none;
}

.bloco-nav:hover {
    background-color: #0C0440;
    color: white;
    transform: scale(1.11);
}

.bloco-nav-selecionado {
    background-color: #0C0440;
    color: white;
}

.linha-divisoria {
    content: '';
    position: absolute;
    height: 80%;
    width: 2px;
    background-color: #0C0440;
    top: 10%;
    right: -6px;
    z-index: 1;
}


/* Responsividade */
@media (max-width: 690px) {

    .seta-nav,
    .seta-nav-esq {
        font-size: 2rem;
        height: 3.75rem;
        width: 3.125rem;
        padding: 0.5rem;
    }

    .barra-nav {
        height: 3.75rem;
        border-radius: 1rem;
        gap: 0.5rem;
    }

    .bloco-nav {
        font-size: 1.25rem;
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 0.5rem;
    }

    .linha-divisoria {
        height: 70%;
        width: 1.5px;
        right: -4px;
    }
}

@media (max-width: 550px) {

    .seta-nav,
    .seta-nav-esq {
        font-size: 1.5rem;
        height: 3.125rem;
        width: 2.5rem;
        padding: 0.375rem;
    }

    .barra-nav {
        height: 3.125rem;
        border-radius: 0.875rem;
        gap: 0.375rem;
    }

    .bloco-nav {
        font-size: 1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 0.375rem;
    }

    .linha-divisoria {
        height: 60%;
        width: 1px;
        right: -3px;
    }
}

@media (max-width: 450px) {
    .barra-nav {
        height: 3rem;
        padding: 0.25rem;
    }

    .seta-nav,
    .seta-nav-esq {
        margin: 8px;
    }

    .seta-nav,
    .seta-nav-esq {
        font-size: 1.5rem;
        height: 3rem;
        width: 3rem;
    }
}